<div class="choice">
    <div (mouseenter)="hoverState(true)" (mouseout)="hoverState(false)" (transitionstart)="transitionState(true)"
        (transitionend)="transitionState(false)" [ngStyle]="{backgroundImage: 'url(' + leftChoice.image + ')'}">
        <h2> {{ leftChoice.name }} </h2>
    </div>

    <div (mouseenter)="hoverState(true)" (mouseout)="hoverState(false)" (transitionstart)="transitionState(true)"
        (transitionend)="transitionState(false)" [ngStyle]="{backgroundImage: 'url(' + rightChoice.image + ')'}">
        <h2> {{ rightChoice.name }} </h2>
    </div>
</div>

<h2> {{ personTarget }} </h2>
<p class="or" [ngStyle]="{opacity: isFixed ? 1 : 0}"> Ou </p>